.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.imageEditor {
  width: 100%;
}

.palette {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;

  .prompts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    div {
      flex-grow: 1;
    }
  }
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;

}